.header{
    height:70px;
    background-color:#691760;
    color: white;
    font-size:55pt;
    padding:40px 0px 0px 30px;
}

.myFooter{
    height:20px;
    background-color:#691760;
    color: white;
    font-size:10pt;
    padding:5px;
    text-align:center;
}

.verticalCentered {
    vertical-align: middle !important;
}